discord_bots/sawickipedia.exe/bot-1.0/token.p
discord_bots/sawickipedia.exe/bot-1.0/servers/
discord_bots/sawickipedia.exe/bot-1.0/modules/data_files/
*.pyc
discord_bots/sawickipedia.exe/bot-2.0/serverdata/
discord_bots/sawickipedia.exe/bot-2.0/botdata/secret.txt